/*
 * @Author: 尊贵的QQ会员 
 * @Date: 2019-06-19 17:10:40 
 * @Last Modified by: 尊贵的QQ会员
 * @Last Modified time: 2019-06-19 17:15:39
 */
 html,body{
   height: 100%;
   width: 100%;
   padding: 0;
   margin: 0
 }
